:root {
    --first: #0a4d68;
    --flex-imtems: #088395;
    --third: #05bfdb;
    --fourth: #00ffca;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 50px;
    color: var(--fourth);
}
body {
    background-color: var(--first);
    width: 800px;
    margin: 0 auto;
}
.grid-container {
    background-color: var(--flex-imtems);
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    > p {
        background-color: var(--third);
        border-radius: 10px;
        display: flex;
        margin: 5px;
        height: 50px;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        width: 150px;
        font-size: medium;
    }
    > p:hover {
        scale: 1.1;
        transition: 0.25s ease;
    }
}

.flex-items {
    display: flex;
    > p {
        width: 90px;
        flex-direction: row;
        font-size: medium;
    }
}
