.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: max-content;
    height: 100%;
}

.nav > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 50px;
    list-style: none;
}

.nav > ul > li {
    border: 1px solid #eee;
    border-radius: 32px;
    cursor: pointer;
}
.nav > ul > li:hover {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}

nav > ul > li > a {
    display: inline-flex;
    padding: 16px 32px;
    text-decoration: none;
    color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
