.button {
  border: none;
  background-color: #368ce7;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 10px 20px;

  .icon {
    margin-right: 10px; /* Adjust the spacing between icon and label */
    display: inline-flex;
    align-items: center;
    gap: 10px; /* Add spacing between icon and label */
  }

  .label {
    font-size: 16px;
  }
}
